# dependencies
/node_modules

# Next.js build output
/.next
/out

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env*

# deployment metadata
.vercel

# editor and OS files
.DS_Store
.vscode/
.idea/

# coverage and TypeScript cache
coverage/
*.tsbuildinfo
